div{
    
    .center-img {
        display: block;
        margin: 0 auto;
    }
    img {
        width: 200px;
        height: 150px;
      }
      .round-btn {
        width: 70px;
        height: 20px;
        border-radius: 20%; 
        background-size: cover;
        background-position: center;
        border: none;
        cursor: pointer;
    }
    
      
    
      
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: 20px auto;
}
.button-container {
    margin-top: 10px;
}

.nav-button {
    background-color: #22ff00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    /* transition: background 0.3s; */
}

.nav-button:hover{
    background-color: #48ff15;
}